{% extends "MicroliseSurveyBundle::auth.html.twig" %}

{% block title %}
    {{ 'Microlise Customer Feedback System' }}
{% endblock title %}



{% block main_content %}

    <div id="content" class="container container--content">


        <h2 class="base-line-padding-bottom">Microlise Customer Feedback System</h2>
        <h2 class="base-line-padding-bottom">{{ survey.name }}</h2>

        <div class="row-fluid">
            <div class="span12">
                <div>
                    {{ survey.description }}


                </div>

                <div class="base-line-padding-bottom"><a href="/" class="btn">Go Back</a></div>

                <div>

                    <div class="span5">
                        <div class="well well-small">
                            <h4>Survey Questions</h4><br>


                        </div>
                    </div>

                    <div class="span5">
                        <div class="well well-small">
                            <h4>Survey Feedback Data</h4>
                           <br> <b>Survey Completion</b>

                        </div>
                    </div>

                </div>



            </div>
        </div>

    </div>

{% endblock main_content %}